<!doctype html>
<html lang="pt-BR">

<head>
    <title>Marlon Francisco</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Site destinado a apresentação do Currículo de Marlon Francisco" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main id="app"></main>
</body>

</html>